/*Body
=====================================*/
body 
{
    margin: 0;
    background: #f3f3f3;
}

/*Nav bar
=====================================*/
.nav-bar 
{
    display: flex;
    width: 100%;
    background-color: rgba(42, 141, 255, 0.986);
    height: 50px;
    padding: 35px;
}

.nav-bar-left 
{
    width: 100%;
    color: white;
}

.nav-bar-right 
{
    width: 100%;
    color: white;
    text-align: right;
}

/*svg
=====================================*/
svg 
{
    color: white;
    width: 30px;
    height: 30px;
}

.nav-bar-right svg
{
    padding-right: 70px;
}

.nav-bar-right a
{
    padding-right: 30px;
}